@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
    font-family: Nunito, sans-serif;
    text-align: center;
}

:root {
    background: linear-gradient(to bottom, #000c, #000d), url('../img/download.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

*::selection {
    color: black;
    background: white;
}

form {
    margin: 10vw auto;
    width: 70%;
    border: solid 2px #888;
    padding: 0 10%;
    padding-bottom: 20px;
}

form * {
    font-size: large;
}

input[type='text'] {
    width: 50px;
    color: white;
    border: #888 1px solid;
    border-radius: 30px;
    text-align: center;
    background: #0000;
    transition: 0.3s;
    outline: none;
}

input[type='text']:focus::selection {
    color: white;
    background-color: black;
}

input[type='text']:focus {
    color: #000;
    background: #fff;
    border-color: white;
    transform: scale(1.5);
}

input[type='range'] {
    appearance: none;
    -webkit-appearance: none;
    height: 15px;
    background: #fff3;
    border-radius: 20px;
    outline: none;
    width: 100%;
    transition: 0.2s;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 4px black;
    transition: 0.2s;
}

input[type='range']::-webkit-slider-thumb:hover {
    transform: scale(1.5);
}

input[type='submit'] {
    background-color: #0000;
    border: 1px solid white;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    transition: 0.2s;
    border-radius: 30px;
    cursor: pointer;
}

input[type='submit']:hover {
    color: #000;
    background-color: #fff;
    transform: scale(1.2);
}

#output {
    padding: 10px;
    color: white;
}

#heading {
    color: white;
    margin-top: 0px;
    padding: 10px;
    font-weight: normal;
}

td {
    vertical-align: middle;
}

@media only screen and (max-width: 790px) {
    form {
        width: 100%;
        padding: 0;
        border: none;
    }
    .ranges {
        display: none;
    }
}